body {
	background-color: #0b0a09;
	color: #fff;
	font-family: Arial, sans-serif;
	text-align: center;
	padding: 50px;
}
h1 {
	color: #d9534f;
	font-size: 2.5em;
	margin-bottom: 20px;
}
p {
	font-size: 1.2em;
	line-height: 1.5rem;
	margin-bottom: 20px;
}
a {
	color: #337ab7;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}